.alertas {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    margin-right: auto !important;
    height: 55px;
    background-color: transparent !important;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 25px;
    z-index: 995;
}

.noActiva {
    color: var(--true-color-general) !important;
}
.siActiva {
    color: red !important;
}

.buttonListContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100% !important;
    max-width: 460px;
    display: flex !important;
    flex-wrap: wrap;
    justify-items: top !important;

}

.btnList {
    text-transform: none;
    border: 2px solid var(--true-bg-general);
    font-size: 8pt;
    height: auto;
    width: auto;
    border-radius: 35px;
    padding-top: 2px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px; 
}
