<div class="true-page">

  <mat-card-title>Pol&iacute;ticas del tratamiento de datos personales</mat-card-title>
  
  <mat-card-content style="text-align: justify; width:90%;margin-left: 15px;padding-bottom: 150px;">

      <p>En esta política de privacidad te explicamos todas las condiciones que asumimos a la hora de capturar, gestionar y almacenar los datos de los Usuarios que se relacionan con nuestra web o nuestras apps, que nos facilitan sus datos personales, y cómo los utilizamos.</p>
      <p><b>Muy importante</b></p>
      <p>Los mayores de trece años podrán registrarse en la aplicación como usuarios sin el previo consentimiento de sus padres o tutores.</p>
      <p>En el caso de los menores de trece años se requiere el consentimiento de los padres o tutores para el tratamiento de sus datos personales.</p>
      <p>En ningún caso se recabarán del menor de edad datos relativos a la situación profesional, económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de estos.</p>
      <p>Si eres menor de trece años y has accedido a este sitio web sin avisar a tus padres no debes registrarte como usuario.</p>
      <p>En esta web se respetan y cuidan los datos personales de los usuarios. Como usuario debes saber que tus derechos están garantizados.</p>
      <p>Nos esforzamos en crear un espacio seguro y confiable y por eso queremos compartir nuestros principios respecto a tu privacidad:</p>
      <p>* Nunca solicitamos información personal a menos que realmente sea necesaria para prestarte los servicios o la información que nos requieras.</p>
      <p>* Nunca compartimos información personal de nuestros usuarios con nadie, excepto para cumplir con la ley o en caso que cuente con tu autorización expresa.</p>
      <p>* Nunca utilizaremos tus datos personales con una finalidad diferente a la expresada en esta política de privacidad.</p>
      <p>Esta política de privacidad siempre será aplicable cuando tú como Usuario decidas rellenar cualquiera de los formularios de contacto o suscripción donde se recojan datos de carácter personal (nombre, email, etc.).
      TRUE SOFTWARE ESPAÑA informa a los usuarios de su sitio web sobre su política respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través de su sitio web.</p>
      <p>En este sentido, TRUE SOFTWARE ESPAÑA garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en:</p>
      <p>* La LOPD: Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Real Decreto 1720/2007, de 21 diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD. La LOPD regula el tratamiento de los datos personales y las obligaciones que debemos asumir los responsables de una web o un blog a la hora de gestionar esta información.</p>
      <p>* La LSSI (Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico) que regula las transacciones económicas mediante medios electrónicos, como es el caso.</p>
      <p> * El RGPD (Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas) que es la nueva normativa de la Unión Europea que unifica la regulación del tratamiento de los datos personales en los distintos países de la UE.</p>
      <p>Esta política de privacidad siempre será aplicable cuando tú como Usuario decidas rellenar cualquiera de los formularios de contacto o suscripción donde se recojan datos de carácter personal (nombre, email, etc.).</p>
      <p><b>Identidad del responsable</b></p>
      <p>La primera obligación que tenemos en base a la normativa vigente es ser transparentes respecto a la identidad del responsable de esta web y de las apps de TRUE SOFTWARE ESPAÑA.</p>
      <p>Datos del responsable</p>
      <p>Identidad del responsable: TRUE SOFTWARE ESPAÑA</p>
      <p>NIF: 12345678Q</p>
      <p>Dirección: 28804 Alcalá de Henares (Madrid)</p>
      <p>Correo electrónico: info@biancotti.es</p>
      <p>Inscrita en el Registro Mercantil de Madrid Tomo 12345, Folio 1, Hoja 123456, Inscripción 1º.</p>
      <p>TRUE SOFTWARE ESPAÑA tiene el deber de informar a los usuarios de su sitio web acerca de la recogida de datos de carácter personal que pueden llevarse a cabo, bien sea mediante la información contenida en el envío de correos electrónicos o al cumplimentar los formularios incluidos en el sitio web. En este sentido, TRUE SOFTWARE ESPAÑA será considerada como responsable de los datos recabados mediante los medios anteriormente descritos.</p>
      <p>A su vez TRUE SOFTWARE ESPAÑA informa a los usuarios de que la finalidad del tratamiento de los datos recabados contempla: La atención de solicitudes realizadas por los usuarios, la inclusión en la agenda de contactos, la prestación de servicios y la gestión de la relación comercial. Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada y que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre datos de carácter personal, tienen la consideración de tratamiento de datos personales.</p>
      <p>Todos los datos personales, que sean recogidos a través del sitio web de TRUE SOFTWARE ESPAÑA, y por tanto tenga la consideración de tratamiento de datos de carácter personal, serán incorporados en el fichero USUARIOS Y CLIENTES TRUE SOFTWARE ESPAÑA inscrito ante el R.G.P.D. (Registro General de Protección de Datos) – Código de Notificación: M112233445566778899000 - en el que los datos de los usuarios quedan incorporados en una base de datos bajo nuestra responsabilidad y son tratados con el fin de responder a las solicitudes que realice el usuario, gestionar sus suscripciones, moderar los comentarios y enviarle la información acerca de lo que nos solicite.</p>
      <p>Además, para el tratamiento de datos de nuestros Usuarios, implementamos todas las medidas técnicas y organizativas de seguridad establecidas en la legislación vigente.</p>
      <p><b>Principios que aplicamos a tu información personal</b></p>
      <p>En el tratamiento de tus datos personales aplicaremos los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos:</p>
      <p>* Principio de licitud, lealtad y transparencia: siempre vamos a requerir tu consentimiento para el tratamiento de tus datos personales para uno o varios fines específicos que te informaríamos previamente con absoluta transparencia.</p>
      <p>* Principio de minimización de datos: solo vamos a solicitar datos estrictamente necesarios en relación con los fines para los que los necesitamos. Los mínimos posibles.</p>
      <p>* Principio de limitación del plazo de conservación: los datos serán mantenidos durante no más tiempo del necesario para los fines del tratamiento, en función a la finalidad, te informaremos del plazo de conservación correspondiente, en el caso de suscripciones, periódicamente revisamos nuestras listas y eliminaremos aquellos registros inactivos durante un tiempo considerable.</p>
      <p>* Principio de integridad y confidencialidad: tus datos serán tratados de tal manera que se garantice una seguridad adecuada de los datos personales y se garantice confidencialidad. Debes saber que tomamos todas las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de nuestros usuarios por parte de terceros.</p>
      <p><b>¿En qué momentos podemos recoger tus datos personales?</b></p>
      <p>* Cuando te pongas en contacto con TRUE SOFTWARE ESPAÑA a través de formularios de contacto en la web.</p>
      <p>* Cuando rellenes cualquier formulario en laempresa.com para suscribirte a alguna de nuestras listas de distribución.</p>
      <p>* Cuando publiques algún comentario en alguno de los contenidos del blog.</p>
      <p>* Cuando rellenes cualquier formulario que pueda hacer en alguna de nuestras apps para recibir feedback por tu parte en cuanto a la calidad de la App.</p>
      <p>* Cuando compres alguno de los productos que ofrecemos en esta web, pero en estos casos se enlaza directamente con la pasarela de pagos, por lo que nosotros no tendremos acceso a tus datos de pago.</p>
      <p>* Cuando firmemos algún tipo de contrato de servicios para la realización de una app. En ese caso, sí que deberás informarnos de tus datos de pago para la correcta realización del contrato.</p>
      <p><b>¿Con qué finalidad utilizamos tus datos personales?</b></p>
      <p>Cuando un usuario se conecta con nuestra web o a través de alguna de nuestras apps, por ejemplo, para comentar un post, mandarnos un correo, suscribirse o realizar alguna contratación, está facilitando información de carácter personal de la que es responsable TRUE SOFTWARE ESPAÑA.</p>
      <p>Esa información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre, dirección física, dirección de correo electrónico, número de teléfono, etc.</p>
      <p>Al facilitar esta información, tú como Usuario das tu consentimiento para que tu información sea recopilada, utilizada, gestionada y almacenada por TRUE SOFTWARE ESPAÑA, sólo como se describe en el Aviso Legal y en la presente Política de Privacidad.</p>
      <p>De acuerdo a lo establecido en el reglamento general de protección de datos europeo (RGPD) 2016/679, TRUE SOFTWARE ESPAÑA con domicilio en C/La calle, 30 1ºA 28804 Alcalá de Henares (Madrid) será responsable del tratamiento de los datos correspondientes al fichero USUARIOS Y CLIENTES TRUE SOFTWARE ESPAÑA.
      <p><b>Comunicación de información a terceros</b></p>
      <p>TRUE SOFTWARE ESPAÑA informa a los usuarios de que sus datos personales nunca serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos este amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos al tercero cuando TRUE SOFTWARE ESPAÑA disponga del consentimiento expreso del usuario.</p>
      <p><b>Derechos de los usuarios</b></p>
      <p>La legislación vigente en materia de Protección de datos concede a los interesados la posibilidad de ejercer una serie de derechos relacionados con el tratamiento de sus datos personales, en tanto en cuanto los datos del usuario son objeto de tratamiento por parte de TRUE SOFTWARE ESPAÑA.</p>
      <p>Los usuarios podrán ejercer los derechos de acceso, rectificación, cancelación y oposición de acuerdo con lo previsto en la normativa legal vigente en materia de protección de datos personales.</p>
      <p>Para hacer uso del ejercicio de estos derechos, el usuario deberá dirigirse mediante comunicación escrita, aportando documentación que acredite su identidad (DNI o pasaporte), a la siguiente dirección: C/La calle, 30 1ºA 28804 Alcalá de Henares (Madrid) o a la dirección que sea sustituida en el Registro General de Protección de Datos. Dicha comunicación deberá reflejar la siguiente información: Nombre y apellidos del usuario, la petición de solicitud, el domicilio y los datos acreditativos. El ejercicio de derechos deberá ser realizado por el propio usuario. No obstante, podrán ser ejecutados por una persona autorizada como representante legal del autorizado. En tal caso, se deberá aportar la documentación que acredite esta representación del interesado.</p>
      <p>También puedes hacer uso de tus derechos enviándonos un correo electrónico a info@laempresa.com con la prueba válida en derecho como una fotocopia de D.N.I o equivalente, indicando en el asunto «PROTECCIÓN DE DATOS».</p>
      <p>Y también tienes derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si consideras que el tratamiento de datos personales infringe el reglamento.</p>
      <p><b>Legitimación para el tratamiento de tus datos</b></p>
      <p>La base legal para el tratamiento de tus datos es el consentimiento.</p>
      <p>Para contactar, suscribirte, comprar alguno de nuestros productos o realizar comentarios en esta web se requiere tu consentimiento con esta política de privacidad.</p>
      <p>Y las ofertas comerciales que puedas recibir de productos y servicios está basada en el consentimiento que se te solicita sin que, en ningún caso, la retirada de este consentimiento condicione tu suscripción.</p>
      <p><b>Categoría de datos</b></p>
      <p>Las categorías de los datos que tratamos son simplemente datos identificativos.</p>
      <p>No se tratan categorías de datos especialmente protegidos.</p>
      <p><b>¿Por cuánto tiempo conservamos tus datos?</b></p>
      <p>Los datos personales que nos proporciones se conservarán sencillamente hasta que nos pidas que los eliminemos o hasta cuando lleves mucho tiempo (según nuestro criterio) sin interactuar con nosotros, momento en el que procederemos a eliminar tus datos.</p>
      <p><b>¿A qué destinatarios se comunicarán tus datos?</b></p>
      <p>Muchas de las herramientas que utilizamos para gestionar tus datos son servicios contratados a terceros.</p>
      <p>Para poder prestar nuestros servicios, compartimos datos con los siguientes prestadores bajo sus correspondientes condiciones de privacidad:</p>
      <p>Hosting: HOSTALIA, con domicilio en Telefónica Soluciones De Informática Y Comunicaciones De España S A U. C.I.F: A78053147 Dirección: Ronda de la comunicación, s/n, Edificio Norte 2, 28050 Madrid. HOSTALIA trata los datos con la finalidad de realizar sus servicios de hosting a laempresa.com. Para conocer la política de privacidad de esta compañía haz clic aquí.</p>
      <p><b>Exactitud y veracidad de los datos</b></p>
      <p>Como Usuario, eres el único responsable de la veracidad y corrección de los datos que facilitas a TRUE SOFTWARE ESPAÑA exonerándonos de cualquier responsabilidad al respecto (en cuanto a su veracidad).</p>
      <p>Es decir, que los Usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y autenticidad de los datos personales facilitados, y se comprometen a mantenerlos debidamente actualizados.</p>
      <p>El usuario acepta proporcionar información completa y correcta en los formularios de contacto o suscripción.</p>
      <p><b>Aceptación y Consentimiento</b></p>
      <p>Esta política de privacidad es un contrato entre tú, el Usuario, y nosotros, TRUE SOFTWARE ESPAÑA.</p>
      <p>Para poder entendernos, es necesario que la hayas leído y estés conforme con estas condiciones sobre la protección de datos de carácter personal, aceptando y consintiendo el tratamiento de los mismos por nuestra parte en la forma y para las finalidades que te hemos indicado en esta política y en el aviso legal.</p>
      <p>Y si tienes cualquier duda o comentario sobre esta política de privacidad, no dudes en preguntarnos.</p>
      <p><b>Revocabilidad</b></p>
      <p>El consentimiento que nos prestas, tanto para el tratamiento como para la cesión de tus datos, es revocable en cualquier momento comunicándolos tal y como ha quedado explicado en esta Política de Privacidad para el ejercicio de los derechos ARCO (acceso, rectificación, cancelación y oposición).</p>
      <p>Esta revocación en ningún caso tendrá carácter retroactivo.</p>
      <p><b>Cambios en la presente Política de Privacidad</b></p>
      <p>TRUE SOFTWARE ESPAÑA se reserva el derecho a modificar esta política para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.</p>
      <p>¡Y hasta aquí! Muchas gracias por haber leído hasta el final. Señal de que eres una persona preocupada por la privacidad de tus datos personales. ¡Nosotros también!</p>
   
      <div mat-dialog-actions align="center">
          <button mat-raised-button (click)="back()" color="primary">Volver</button>
      </div>

  </mat-card-content>

</div>





