<!-- SUBTITULO -->
<h2>{{extraTitulo}}</h2>

<!-- FORMULARIO -->
<form [formGroup]="crud1Form">
    
    <mat-grid-list cols="1" rowHeight="2rem">

      <!-- ENCABEZADO Y BOTONES -->
      <mat-grid-tile  [rowspan]="3">
          <div class="submenuCRUD">
              <div>
                  <button mat-button (click)="back()" style="color: gray;"><mat-icon>arrow_back</mat-icon> Volver</button>
              </div>
              <div class="spacer"></div>
              <div>
                  <button color="primary" mat-raised-button (click)="save()" [disabled]="!crud1Form.valid" title="Grabar los cambios"><mat-icon>save_outline</mat-icon> Grabar</button>
                  <button color="accent" mat-raised-button (click)="reset()" title="Descartar los cambios y recargar el registro"><mat-icon>refresh</mat-icon> Descartar</button>
                  <button color="warn" mat-raised-button (click)="delete()" *ngIf="!nuevo" title="Eliminar este registro"><mat-icon>delete_outline</mat-icon> Eliminar</button>
              </div>
          </div>
      </mat-grid-tile>

      <div *ngFor="let field of campos; index as f">
        <mat-grid-tile *ngIf="field.formato != 'B' && field.formato != 'J' && field.visible == true" class="form-row" [rowspan]="3">
        
          <mat-form-field [class]="{'custom-mat-form-field' : field.formato != 'A', 'custom-textarea-mat-form-field' : field.formato == 'A'}" appearance="outline">

              <mat-label>{{field.etiqueta}}</mat-label>

              <!-- INPUT (texto) -->
              <input *ngIf="field.formato == 'C'" type="textbox" formControlName="{{field.campo}}" matInput maxlength="{{field.ancho}}"> 

              <!-- INPUT (Numeros) -->
              <input *ngIf="field.formato == 'N'" type="number" formControlName="{{field.campo}}" matInput maxlength="{{field.ancho}}"> 

              <!-- AREA DE TEXTO -->
              <textarea *ngIf="field.formato=='A'" class="custom-textarea" rows="3" formControlName="{{field.campo}}" matInput maxlength="{{field.ancho}}"></textarea>

              <div *ngIf="field.formato == 'L'">
                <mat-select formControlName="{{field.campo}}" (selectionChange)="ponerIds(field.campo, $event)"> 
                  <mat-option *ngFor="let opc of field.lista" [value]="opc.texto">
                      {{opc.texto}}
                  </mat-option>
                </mat-select>
              </div>

              <mat-error *ngIf="crud1Form.controls[field.campo].hasError('required')">Este dato es obligatorio!</mat-error>
              <mat-error *ngIf="crud1Form.controls[field.campo].hasError('maxlength')">Este dato no puede exceder de {{field.ancho}} caracteres!</mat-error>
              <mat-error *ngIf="crud1Form.controls[field.campo].hasError('email')">El correo electrónico no tiene un formato correcto!</mat-error>

          </mat-form-field>
        </mat-grid-tile>
        <!-- CHECKBOXES -->
        <mat-grid-tile *ngIf="field.formato == 'B' && field.visible" [rowspan]="1">
          <div class="form-checkbox">
            <mat-checkbox color="primary" formControlName="{{field.campo}}">{{field.etiqueta}}</mat-checkbox>
          </div>
        </mat-grid-tile>
        <!-- BUTTONLIST -->
        <mat-grid-tile *ngIf="field.formato == 'J' && field.visible" [rowspan]="7">
          <app-buttonlist
            etiqueta = "{{field.etiqueta}}" 
            [opciones] = "crud1Form.controls[field.campo].value"
            (quitarJitem) = "quitarJitem(field.campo, $event)"
            (agregarJitem) = "agregarJitem(field.campo, $event)"
            addQuery = "{{field.addQuery}}"
          ></app-buttonlist>
        </mat-grid-tile>

      </div>

  </mat-grid-list>

</form>





