<div class="true-page">

  <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
          <h1>La página que solicitas aún no está disponible</h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-raised-button color="primary" routerLink="/in">
              Volver
              <span><mat-icon class="inline-icon">home</mat-icon></span>
          </a>
      </mat-grid-tile>
  </mat-grid-list>

  <img class="center" src="./../../../../assets/imagenes/resbalon.png" width="25%" height="auto" alt="Lo sentimos much&iacute;simo!">

</div>

