<div class="true-page">

    <mat-card-title><h1>Buscador (campos a utilizar de filtro en la b&uacute;squeda)</h1></mat-card-title>
  
    <mat-card-content>
  
      <mat-card-content>
  
        <app-crud1-convalores
          id = "{{id}}"
          tipo = "B"
          rutaCrud2 = "{{rutaCrud2}}"
          rutaRetorno = "{{rutaRetorno}}"
          [campos] = "camposCrud1"
          [colTitulos] = "columnasValores"
          tabla = "{{tabla}}"
        ></app-crud1-convalores>
        
      </mat-card-content>
    </mat-card-content>
  
  </div>
